<div>
<button class="user-list-button" (click)="openDialog()">Add User +</button>

    <table class="my-table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Mobile Number</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of getUsers()">
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.mobileNumber}}</td>
                <td>{{user.email}}</td>
            </tr>
        </tbody>
    </table>
</div>